.area, .container, .userContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.area {
  flex-direction: row;
  @media screen and (max-width: 780px){
    flex-direction: column;
  }
}

.userContainer {
  padding-top: 30px;
  flex-direction: column;
  align-items: center;

  h4 {
    color: #c4c4c4;
  }
}

.container {
  padding: 25px;
  flex-direction: column;
  @media screen and (max-width: 780px){
    height: 50vh;
  }
}