.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;

  height: 100%;
  padding: 10px 5% 10px 5%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  p {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }

  @media screen and (max-width: 780px) {
    flex-direction: column;
    width: 100%;
    p { display: none }
  }
}

.logo {
  width: 90%;
}

.options {
  display: flex;
  justify-content: space-around;
  width: 12%;
}