.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #F9F9F9;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 25vw;
  height: 70vh;
  padding: 1%;
  background: #FFF;

  @media screen and (max-width: 770px) {
    width: 100%;
    height: 100%;
  }
}